*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#sign_form{
    border: 3px solid tomato;
    border-radius: 10px;
    height: 450px ;
    width: 670px;
    background-image: linear-gradient(to bottom, #d9e4eb, #c3d8e6, #aecce0, #98c0db, #82b4d6);
    margin-left: 300px;
    margin-top: 5px;
    /* box-shadow: 12px 12px 12px 11px rgba(0, 0, 0, 0.2); */
}
#sign_form:hover{
    box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.2);
}
#sign_form input{
    height: 50px ;
    width: 340px;
    border-radius: 5px;
    margin: 10px 0px 0px 30px ;
}
#sign_form img {
    /* border: 2px solid red; */
    height:80px ;
    width: 90px;
    margin :inherit ;
}
#sign_form h3{
    margin :inherit ;
    
}

#testingimg{
    height: 120px;
    width: 120px;
    border: 2px solid blue;
    background-position: center;
    background-size: center;
}
#signBtn{
    margin-left: 252px;
}
#signBtn:hover{
    background-color: lightseagreen;
}

/* #form1{
    background-color: rgb(255, 173, 140);
    border: 2px solid #F8F8FF;
    height:100% ;
    width: 70%;
    
}
#btn{
    border: 2px solid red;
    height:40px ;
    width: 120px ;
    border-radius: 10px;
    margin-left: 20px;
}
#btn:hover{
    background-color: tomato;
}
#sign_form{
    border: 2px solid rgb(34, 87, 84);
    background-color: lightskyblue;
    padding: 10px;
    height:270px ;
    width: 720px ;
}
#sqlForm{
    height: 300px ;
    width: 500px ;
    background-color: lightblue ;
    padding: 20px;
    margin: 40px;
}

hr{
    border: 2px solid lightcoral;
} */
/* registration form */
#msg{
    width: 450px ;
}
#form2{
    height:660px ;
    width:500px ; 
    border-radius: 6px;
    margin-left: 300px;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, #f8f8ff, #ecf1fd, #dceafb, #c9e5f7, #b5e0f0);
}
#form2:hover{
    box-shadow: 15px 12px 12px 11px rgba(0, 0, 0, 0.2);
}
#regForm{
    width: 600px;
    padding: 20px;
    margin-right: 10px;
}
#regForm div{
    margin: 10px;
    padding: 5px;
} 
#regForm h3{
    color: darkgreen;
    margin-left: 150px;

}
.inputs{
    padding: 5px;
    margin-left: 40px;
    height:40px;
    width: 290px;
    border-radius: 10px;
}
#img, #imgdata{
    height:80px ;
    width: 90px;
    margin:2px 0px 0px 160px;
}
#submit-btn{
    color: white ;
    background-color: black ;
    height: 50px ;
    width: 160px ;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 30px;
}
#submit-btn:hover{
    background-color: lightslategrey;
}
input:hover{
    box-shadow: 0 0 7pt 1pt dimgray;
  }
input:focus {
    box-shadow: 0 0 7pt 2pt rgb(63, 102, 102) ;
    outline-width: 0px;
}